<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybaits.mapper.MenuDao">

    <select id="selectMenuByMenuId" parameterType="string" resultType="hashmap">
        select * from menu where id = #{id}
    </select>

    <insert id="insertMenu" parameterType="hashmap">
        insert into menu (id,parent_id, name, depth) values (#{map.id},#{map.parent_id} , #{map.name} , #{map.depth})
    </insert>
</mapper>